# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
env/

# VCS / CI
.git/
.gitignore
.github/

# OS/editor
.DS_Store
*.swp

# Outputs & media
transcripts/
output/
*.mp4
*.wav
*.webm
*.tar
.output-image/
*.log

# Node
node_modules/

# Build dists
build/
dist/
